body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #00ff33;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
.course-button {
    display: block;
    width: 300px;          /* controls how long it is */
    margin: 50px auto;     /* keeps it centered */
    padding: 15px 30px;
    background-color: #00ff33;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}
.course-button {
    padding: 10px 20px;
    font-size: 15px;
}
.course-button:hover {
    background-color: #00cc29;
}
.back-button {
    display: block;
    width: 300px;          /* controls how long it is */
    margin: 50px auto;     /* keeps it centered */
    padding: 15px 30px;
    background-color: #ff0000;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}
.back-button:hover {
    background-color: #cc0000;
}
.Credit-Button {
    display: block;
    width: 300px;          /* controls how long it is */
    margin: 50px auto;     /* keeps it centered */
    padding: 15px 30px;
    background-color: #00ff33;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}
.Credit-Button {
    padding: 10px 20px;
    font-size: 15px;
}
.Credit-Button:hover {
    background-color: #00cc29;
}
.Donate-Button {
    display: block;
    width: 300px;          /* controls how long it is */
    margin: 50px auto;     /* keeps it centered */
    padding: 15px 30px;
    background-color: #00ff33;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}
.Donate-Button {
    padding: 10px 20px;
    font-size: 15px;
}
.Donate-Button:hover {
    background-color: #00cc29;
}